<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Users</title>
</head>
<body>
  {%block content %}
    <div>
      {% for datas in data %}
        <div class="cards">
          <span>{{ datas['id'] }}</span>
          <p>{{ datas['name'] }}</p>
          <p>{{ datas['username'] }}</p>
          <p>{{ datas['email'] }}</p>
          <p>{{ datas['phone'] }}</p>
          <p>{{ datas['website'] }}</p>
          <p>{{ datas['phone'] }}</p>

        </div>
      {% endfor %}
    </div>
  {%endblock content %}
</body>
</html>